<div class="wrapper">
  
  <page-header></page-header>

  <main>  
    <div class="main-wrapper">
      <div class="banner">        
        <div class="flexslider">
          <ul class="slides">
              <li><img src="./assets/images/1.jpg" alt=""></li>
              <li><img src="./assets/images/2.jpg" alt=""></li>
              <li><img src="./assets/images/3.jpg" alt=""></li>
              <li><img src="./assets/images/4.jpg" alt=""></li>
              <li><img src="./assets/images/5.jpg" alt=""></li>
          </ul>
        </div>
         <div class="contact">
          <contact-form></contact-form>
         </div>

      </div>

      <div class="main-content">
<!--           <div class="package-header">
            <p>Take a Look at Our</p>
            <h3>MOST POPULAR TOUR PACKAGES</h3>
          </div> -->
          <app-packages></app-packages>
      </div>

    </div>  
  </main>   

  <footer>
    <div class="foo-wrap">
      Footer Here
      <hr>
    </div>
  </footer>

</div>

