$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  ghostwhite;

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
    height: 100%;
}

.wrapper {

  page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  main {
    margin-top: 110px;
  }

    footer {
      .foo-wrap {
        height: 110px;
        background-color: $primary-color;
        color: white;
        text-align: center;
        position: relative;

        .copyright {
          position: absolute;
          bottom: 10px;
          left: 20px;
          color: lighten( black, 60%);
        }

        .social {
          position: absolute;
          bottom: 10px;
          right: 20px;
          color: $secondary-color;
          
          i {
            margin-left: 10px;
          }
        }
      }
    }
  }