	<div class="form-wrap">

		 <form action="" method="" accept-charset="utf-8">
			 <div>				
			 	<label for="arrivalDate">Arrival 
			 		<!-- <input id="arrivalDate" type="text" name="arrival"> -->
			 		<md-input-container>
			 		  <input mdInput id="arrivalDate" type="text" name="arrival" placeholder="Arrival Date">
			 		</md-input-container>
			 	</label>

			 	<label for="duration">Duration 
<!-- 			 		<select id="duration">
			 			<option>Select Days </option>
			 			<option>1-4 Days</option>
			 			<option>5-7 Days</option>
			 			<option>9-14 Days</option>
			 			<option>2-3 Weeks</option>
			 			<option>> 3 Weeks</option>
			 		</select> -->
			 		<md-select id="duration" placeholder="Select Days" [(ngModel)]="selected.duration" name="duration">
			 		   	<md-option *ngFor="let state of availableOptions.duration" [value]="state.code">{{ state.days }}</md-option>
			 		</md-select>
			 	</label>
			 	<label for="tourStyle">Tour Style 
<!-- 			 		<select name="tour style">
			 			<option>Select Style </option>
			 			<option>Family Vacation</option>
			 			<option>Honeymoon</option>
			 			<option>Casual Vacation</option>
			 			<option>Business Traveller</option>
			 		</select> -->
			 		<md-select id="tour" placeholder="Select Style" [(ngModel)]="selected.tourStyle" name="tour">
			 		   	<md-option *ngFor="let state of availableOptions.tourStyle" [value]="state.code">{{ state.style }}</md-option>
			 		</md-select>
			 	</label>
				<button>SEARCH</button>
			 </div>
			 								
			 <!-- <div> -->
<!-- 				 <label for="tourStyle">Tour Style 
				 	<select name="tour style">
				 		<option>Select Style </option>
				 		<option>Family Vacation</option>
				 		<option>Honeymoon</option>
				 		<option>Casual Vacation</option>
				 		<option>Business Traveller</option>
				 	</select>
				 </label> -->

			 	<!-- <label>People
			 		<select name="adult">
			 			<option>Adults </option>
			 			<option>1</option>
			 			<option>2</option>
			 			<option>3</option>
			 			<option>4</option>
			 			<option>5</option>
			 			<option>6</option>
			 			<option>7</option>
			 			<option>8</option>
			 			<option>Group</option>
			 		</select>
			 		<select name="children">
			 			<option>Children </option>
			 			<option>0</option>
			 			<option>1</option>
			 			<option>2</option>
			 			<option>3</option>
			 			<option>4</option>
			 			<option>5</option>
			 		</select>

			 	</label>
			 </div>	 -->

<!-- 			 <div>
			 	<label>Budget 
				 	<select name="budget">
				 		<option>Select Budget</option>
				 		<option>Economy</option>
				 		<option>Standard</option>
				 		<option>Luxury</option>
				 	</select>
			 	</label>
			 </div> -->



		</form> 

	</div>
