	<div class="form-wrap">
		 <form action="" method="" accept-charset="utf-8">

			 		<md-input-container>
			 		  <input mdInput id="arrivalDate" type="text" name="arrival">
			 		</md-input-container>

			 		<md-select id="duration" placeholder="Select Days" [(ngModel)]="selected.duration" name="duration">
			 		   	<md-option *ngFor="let state of availableOptions.duration" [value]="state.code">{{ state.days }}</md-option>
			 		</md-select>

			 		<md-select id="tour" placeholder="Select Style" [(ngModel)]="selected.tourStyle" name="tour">
			 		   	<md-option *ngFor="let state of availableOptions.tourStyle" [value]="state.code">{{ state.style }}</md-option>
			 		</md-select>
			 	
				<button md-button>SEARCH</button>

		</form> 
	</div>
