$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  ghostwhite;





.form-wrap {

  button {
    width: 175px;
    color : $primary-color;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: $secondary-color;
    font-family: 'quicksand';
  }

  button:hover {
    color: white;
    cursor: pointer;
  }
}