$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  ghostwhite;
$tab-res: 960px;
$mob-res: 767px;

.cart-wrapper {
		position: relative;
		ul {
			max-height: 70vh;
		    overflow: auto;
		    margin-bottom: 15px;
		    max-width: 55vw;
			li {
				list-style: none;
				// display: inline-block;
				margin-right: 10px;
				md-card {
					width: 25vw;
					margin-bottom: 10px;
					padding: 10px;
					height: 60px;
					border: 1px solid rgba(29, 39, 49, .1);

					span {
						position: absolute;
						right: 5%;
						top: 30%;
						cursor: pointer;

						i{
							color: tomato;
							font-size: 1.3em;
						}
					}
				}
			}
		}
	
	div {
		text-align: center;

		button {
			width: 30%;
			background-color: $primary-color;
			color: $text-color;

			&:nth-child(1) {
				background-color: $secondary-color;
				color: $primary-color;
			}

			@media screen and (max-width: $mob-res) {
				width: auto;
			}
		}

	}
}

.example-header-image {
	background-image: url(../../assets/images/1.jpg);
	background-size: cover;
}