$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  ghostwhite;
$tab-res: 960px;
   
header {
  background-color: $primary-color;
  height: 110px;
  transition: all 0.1s ease;
  
    .header-wrapper {

      max-width: 100%;
      width: 98%;
      margin: 0 auto;

    .nav-brand {

      display: inline-block;
      vertical-align: middle;

      .page-logo {
        display: inline-block;
        vertical-align: middle;
      }


    }
  

  .page-nav {

      @extend .nav-brand;
      text-align: right;
      width: calc(100% - 278px);
      height: 100%;

      @media screen and (max-width: $tab-res) {
        position: absolute;
        top: 110px;
        right: 0;
        width: 250px;
        height: auto;
        background-color: $primary-color;

      }
      nav {

        li {
            color: $text-color;

          a {
            line-height: 107px;
            display: inline-block;
            padding: 0 20px;
            border-top: 3px solid transparent;
            font-weight: bold;
            transition: all 0.1s ease;

            @media screen and (max-width: $tab-res) {
              line-height: 50px;
              display: block;
              text-align: center;
            }
          }

            @media screen and (max-width: $tab-res) {
              height: 50px;
              display: block;
              width: 100%;
            }
        }

        li:last-child a {
          padding: 0;
        }

        li.active a, .page-nav li:not(:last-child):hover a {
          color: $secondary-color;
          background-color: darken($primary-color,5%);
          border-top: 3px solid $secondary-color;
          cursor: pointer;
        }
        li:hover a {
          color: $secondary-color;
          cursor: pointer;
        }

      }
  }

  .cart-wrap {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    vertical-align: middle;
    position: relative;;
    text-align: center;
    cursor: pointer;
    
    i {
      color: $secondary-color;
      font-size: 1.5em;
    }
    .cart-count {
      position: absolute;
      display: block;
      top: 0;
      right: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: $secondary-color;
      line-height: 20px;
      text-align: center;
      font-family: 'quicksand';
    }

  }
  
  .ham-icon {
    @extend .page-logo;
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    color: #e8eaf6;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: visible;
    vertical-align: middle;

      span {
        width: 24px;
        height: 4px;
        background-color: $text-color;
        // backface-visibility: hidden;
        border-radius: 2px;
        position: relative;
        display: block;
        margin: auto;
        transition: .3s all ease;
      }
      span::before, span::after {
        -webkit-transform-origin: 1.71429px center;
        -moz-transform-origin: 1.71429px center;
        -ms-transform-origin: 1.71429px center;
        transform-origin: 1.71429px center;
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        transition: .3s all ease;
        background-color: $text-color;
        height: 4px;
        right: 0;
        border-radius: 2px;
      }
      span::after {
        top: 8px;

      }
  }

}
}

header.shrink-nav {
  height: 60px;
  .header-wrapper {
    .page-nav {
      @media screen and (max-width: $tab-res) {
        top: 60px;
      }
      nav {
        li {
          a {
            line-height: 57px;
          }
        }
      }
    }
  }
}  
 

  
 