  <header>
    <div class="header-wrapper">
      <div class="nav-brand">
        <a class="page-logo"><img src="./assets/images/logo-white.png" alt="Logo"></a>
      </div>

      <div class="page-nav">
        <nav>
          <ul>
            <li routerLink="/home/" class="active"><a>HOME</a></li>
            <li routerLink="/home/"><a>PACKAGES</a></li>
            <li routerLink="/home/"><a>DESTINATIONS</a></li>
            <li><a>CONTACT</a></li>
            <li><a><i class="fa fa-search"></i></a></li>
          </ul>
        </nav>
      </div>
      <div class="cart-ham">
        <div class="cart-wrap" (click)="openDialog()">
          <i class="fa fa-shopping-cart"></i>
          <span class="cart-count"> {{cart.count}} </span>
        </div>
        <button class="ham-icon"><span></span></button>
      </div>
    </div>
  </header> 
