$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  ghostwhite;

.detail-wrapper {
	display: inline-block;
	width: 100%;

	.detail-container {
		margin: 0px auto;
		// width: 60%;
		display: inline-block;
		text-align: center;

		.detail-cover {
			width: 100%;
			padding-bottom: 30%;
			margin-bottom: 20px;
		}
		
		.detail-slider {
			width: 75%;
			margin: 10px auto;
			display: block;

			#slider {
				position: fixed;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    display: none;
			    text-align: center;
			    z-index: 100;

			    li {
		    		height: 100vh;
		    		width: 100vw ;

				    // img {
				    // 	width: auto;
				    // 	margin: 0 auto;
				    // 	height: auto;
				    // 	max-width: 80vw;
				    // 	max-height: 80vh;
				    // 	display: block;
				    // }
			    }

			}
		}

		.detail-content {
			width:  45%;
			padding: 20px;
			display: inline-block;
			vertical-align: top;
			text-align: left;
			min-height: 800px;

			.detail-head {
				border-bottom: 2px solid #fef5dd;
	    		margin-bottom: 10px;

				h2 {
					color: $secondary-color;
					font-size: 3em;
					
					display: inline-block;
				}
				span {
					float: right;
				}
			}
			.detail-menu {

				.description-content {
					padding: 15px;
					min-height: 580px;

					p {
						font-family: 'Josefin Sans', sans-serif;
						font-size:  17px;
						margin-bottom: 25px;
						line-height: 20px;

					}

					hr {
						margin: 20px auto;
	    				border-color: transparentize($secondary-color,.8);
					}
					div {
						span:nth-child(1) {
							display: inline-block;
							width: 40%;
						}
					}
				}
				.itinerary-content {
					min-height: 580px;

					h3 {
						padding: 10px 0;
					}
					p {
						font-family: 'Josefin Sans', sans-serif;
					}
					ul {
						li {
							font-family: 'Josefin Sans', sans-serif;
						}
					}
				}
				.location-content {
					min-height: 580px;
				}
			}

			.detail-bottom {
				margin:  0 auto;
				width:  100%;

				.enquire-button {
					background-color: $secondary-color;
				    width: 150px;
				    color: $primary-color;

				    i {
				    	vertical-align: inherit;
				    	margin-right: 5px;
				    }
				}
				.back-button {
					@extend .enquire-button;
					background-color: $primary-color;
				    color: ghostwhite;

				    i {
				    	vertical-align: inherit;
				    	margin-right: 5px;
				    }
				}
			}
		}
		app-contact {
			width: 30%;
			padding-left: 5%;
			display:inline-block;
			vertical-align: top;
			text-align: left;
		}
	}
}