$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  ghostwhite;

.detail-wrapper {
	display: inline-block;
	width: 100%;

	.detail-container {
		margin: 20px auto;
		width: 60%;
		display: table;

		.detail-content {
			width:  45%;
			padding: 20px;
			display: table-cell;
			vertical-align: top;

			.detail-head {
				border-bottom: 2px solid #fef5dd;
	    		margin-bottom: 10px;

				h2 {
					color: $secondary-color;
					font-size: 3em;
					
					display: inline-block;
				}
				span {
					float: right;
				}
			}
			.detail-menu {
				.description-content {
					padding: 15px;

					p {
						font-family: 'Josefin Sans', sans-serif;
						font-size:  17px;
						margin-bottom: 25px;
						line-height: 20px;

					}

					hr {
						margin: 20px auto;
	    				border-color: transparentize($secondary-color,.8);
					}
					div {
						span:nth-child(1) {
							display: inline-block;
							width: 40%;
						}
					}
				}
				.itinerary-content {
					h3 {
						padding: 10px 0;
					}
					p {
						font-family: 'Josefin Sans', sans-serif;
					}
					ul {
						li {
							font-family: 'Josefin Sans', sans-serif;
						}
					}
				}
			}

			.detail-bottom {
				margin:  0 auto;
				width:  100%;

				.enquire-button {
					background-color: $secondary-color;
				    width: 150px;
				    color: $primary-color;

				    i {
				    	vertical-align: inherit;
				    	margin-right: 5px;
				    }
				}
				.back-button {
					@extend .enquire-button;
					background-color: $primary-color;
				    color: ghostwhite;

				    i {
				    	vertical-align: inherit;
				    	margin-right: 5px;
				    }
				}
			}
		}
		app-contact {
			width: 30%;
			padding-left: 5%;
			display: table-cell;
			vertical-align: top;
		}
	}
}