    <div class="main-wrapper">
      <div class="banner">        
        <div class="flexslider">
          <ul class="slides">
              <li style="background: url('./assets/images/1.jpg') top/cover no-repeat"></li>
              <li style="background: url('./assets/images/2.jpg') top/cover no-repeat"></li>
              <li style="background: url('./assets/images/3.jpg') top/cover no-repeat"></li>
              <li style="background: url('./assets/images/4.jpg') top/cover no-repeat"></li>
              <li style="background: url('./assets/images/5.jpg') top/cover no-repeat"></li>
          </ul>
        </div>
<!--          <div class="contact">
          <app-contact></app-contact>
         </div> -->
      </div>

      <div class="main-content">

          <!--PACKAGE CONTENT BELOW-->
<!--           <div class="heading-content" id="popular-packages">
            <div class="overlay">
              <span>Take a Look at Our</span>
              <h2>MOST POPULAR PACKAGES</h2>
            </div>
          </div> 
          <app-packages></app-packages> -->

          <!--DESTINATION CONTENT BELOW-->
          <div class="heading-content" id="popular-destinations">
            <div class="overlay">
              <span>Create Your Own</span>
              <h2>TOUR DESTINATION</h2>
            </div>
          </div> 
          <app-destination></app-destination>

          <!--WHY CHOOSE US BELOW-->
<!--           <div class="heading-content">
            <div class="overlay">
              <h2>WHY CHOOSE US?</h2>
            </div>  
          </div> -->
      </div>

    </div>  
