$primary-color: #1D2731  ;
$secondary-color: #F7C331;
$text-color:  #263238;

.package-wrapper {

	.packages {

		padding: 0 30px; 
		max-width: 1024px;
		margin: 0 auto;
		
		.package-item:before, .package-item:after {
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width: 300px;
			background: #777;
			-webkit-box-shadow: 0 15px 10px #777;
			-moz-box-shadow: 0 15px 10px #777;
			box-shadow: 0 15px 10px #777;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
		}

		.package-item:after {
			-webkit-transform: rotate(3deg);
			-moz-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			transform: rotate(3deg);
			right: 10px;
			left: auto;
		}

		.package-item {
			width: calc(33.3333% - 20px);
			display: inline-block;
			height: 475px;
			margin: 15px 30px 15px 0;
			background: white;
			position: relative;
			border-radius: 6px;
			box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

			.package-image {
				height: 200px;
				background-repeat: no-repeat;
				background-size: cover;
				border-top: 6px solid  transparentize($secondary-color, .1);
				border-radius: 2px 2px 0 0;
			}
			
			.package-details {
				position: relative;
				padding: 15px;

				div {
					margin-bottom: 10px;
				}

				div:last-child {
					margin-bottom: 0;
				}
				.package-name {
					font-family: 'quicksand';
					font-size: 22px;
					color: lighten($primary-color, 0.6);
					font-weight: bold;
				}
				.package-days {
					color: transparentize(rgb(0, 0, 0), 0.3);
					font-size: 15px;

					span {
						margin-left: 3px;
					}
				}
				.package-desc {
					span {
						height: 128px;
						overflow: hidden;
						display: block;
						line-height: 30px;
						text-align: justify;
						font-size: 15px;

					}
				}
			}

			.package-action {
				button {
						width: 80%;
						margin: auto;
						height: 50px;
						border: none;
						outline: none;
						font-family: 'quicksand';
						border-radius: 0 0 0 5px;
						color: $primary-color;
						font-size: 16px;
						font-weight: bold;
						background-color: $secondary-color;
						transition: .3s;
					}
				button:hover {
					background-color: lighten($secondary-color ,10%);
					cursor: pointer;
				}
				.btn-add {
					width: 20%;
					color: $secondary-color;
					background-color: $primary-color;
						border-radius: 0 0 5px 0;
				}
				.btn-add:hover {
					color: $primary-color;
				}
			}

		}

		.load-packages{
			display: block;
			margin: 15px auto;
			width: 100%;
			max-width: 150px;
			background-color: transparent;
			font-size: 18px;
			color: $secondary-color;
			height: 40px;
			line-height: 40px;
			border: 0;
			outline: 0;
			transition: all .3s;
			cursor: pointer;
		}
		.load-packages:hover {
			background-color: $secondary-color;
			color: white;
		}

		.package-item:hover .hover-wrapper {
			opacity: 1;
		}
		.package-item:nth-child(3n) {
		  margin-right: 0;
		}
	}
}